{
  "name": "${node_pkg}",
  "version": "${node_version}",
  "description": "Injective Core binary for ${node_os} ${node_arch}",
  "os": ["${node_os}"],
  "cpu": ["${node_arch}"],
  "repository": {
    "type": "git",
    "url": "git+https://github.com/InjectiveFoundation/injective-core.git"
  },
  "license": "BUSL-1.1",
  "files": [
    "bin/**/*"
  ]
}
